<!-- navigation.html -->
<nav>
  <h1 class="nav-p">Blue Market</h1>
  <button class="nav-button"><i class="fas fa-home"></i></button>
  <button class="nav-button"><i class="fas fa-filter"></i></button>
 
  <div class="nav-search">
    <input type="text" placeholder="Search..." />
    <button type="submit"><i class="fas fa-search"></i></button>
  </div>
   <button id="add-product-button" class="add-product-button" sty>
    <i class="fas fa-plus"></i>
  </button>
  <button class="nav-button"><i class="fas fa-info-circle"></i></button>
  <button class="nav-button chat-icon" id="chat-toggle">
    <i class="fas fa-comments"></i>
  </button>
</nav>
